body{
    text-align : center;
}
.btn{
    width:200px;
    height:200px;
    margin:2.5rem;
    border-radius: 20%;
    border:5px solid black
    
}
.btn-container{
    display:flex;
    justify-content: center;
}
.red{
    background-color: #d95980;
}
.yellow{
      background-color: #f99b45;

}
.green{
      background-color: green;
}
.pink{
    background-color: #63acc0;
}
.gameflash{
    background-color:white;
}
.userflash{
    background-color: green;
}